/*
    Esse arquivo serve para que todas as fontes utilizadas fiquem em um único lugar.
*/

/*
    Regra para utilizar essa fonte

    font-family: 'Marmelad', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

/*
    Regra para utilizar essa fonte

    font-family: 'Michroma', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/*
    Regra para utilizar essa fonte

    font-family: 'Righteous', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*
    Regra para utilizar essa fonte

    font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
    Regra para utilizar essa fonte

    font-family: 'VT323', monospace;
*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*
    Regra para utilizar essa fonte

    font-family: 'Kanit', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Digital';
    src: url('/Fonts/ds_digital/DS-DIGI.TTF') format('truetype'),
    url('/Fonts/ds_digital/DS-DIGIB.TTF') format('truetype'),
    url('/Fonts/ds_digital/DS-DIGII.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'K2D';
    src: url('/Fonts/k2d/K2D-Bold.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-BoldItalic.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-ExtraBold.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-ExtraBoldItalic.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-ExtraLight.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-ExtraLightItalic.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-Italic.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-Light.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-LightItalic.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-Medium.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-MediumItalic.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-SemiBold.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-SemiBoldItalic.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-Thin.ttf') format('truetype'),
    url('/Fonts/k2d/K2D-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jura';
    src: url('/Fonts/jura/JuraBook.ttf') format('truetype'),
    url('/Fonts/jura/JuraDemiBold.ttf') format('truetype'),
    url('/Fonts/jura/JuraLight.ttf') format('truetype'),
    url('/Fonts/jura/JuraMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}